.contact{
    margin: 50px 20px;
    border: 1px solid gray;
    line-height: 1.2;
    /* color: #0056b3;
    background-color: white; */
}

.contact-title{
    text-align: center;
    font-size: 48px;
    padding: 10px;
}

.contact-section{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 200px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 36px;
}

.contact-left p{
    font-size: 16px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-detail p{
    font-weight: 600;
}

.contact-detail:hover{
    transform: scale(1.1);
    color: #007BFF;
    cursor: pointer;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-right label{
    font-size: 18px;
    font-weight: 500;
}

.contact-right input{
    border: 1px solid;
    width: 250px;
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;
}

.contact-right textarea{
    border: 1px solid;
    width: 250px;
    padding: 25px;
    border-radius: 5px;
}

.contact-right input:hover{
    transform: scale(1.12);
}

.contact-right textarea:hover{
    transform: scale(1.12);
}

.contact-submit{
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: #007BFF;
    color: #F8F9FA;
}

.contact-right button:hover{
    transform: scale(1.2);
}