.navbar{
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    max-width: 80%;
}

.logo{
    object-fit: cover;
    height: 80px;
}

.menu{
    margin: 20px; 
    cursor: pointer;
}

.menu:hover{
    color: yellow;
    padding-bottom: 10px;
    border-bottom: solid 3px yellow;
}

.contactButton{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 30px;
    font-weight: 600;
}

.contactImage{
    object-fit: cover;
    height: 24px;
    width: 24px;
    margin: 10px;
}