#intro {
    height: calc(100vh - 4rem);
    width: 80vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
position: relative;
}

.profileImage{
    position: absolute;
    top: 4rem;
    z-index: -1;
    left: 0;
    object-fit: cover;
    height: 80vh;
}

.rightSide{
    height: 100vh;
    width: 100vw;
    padding: 180px 0 0 500px;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hi{
    font-size: 24px;
    font-weight: 600;
}