@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1a1a1a;
  color: #e6e6e6;
  height: 100vh;
  font-family: '';
}